/* ============ Article Styles ============ */

.article h1 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 25px 0 7px;
}
.article h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 20px 0 7px;
}
.article h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  padding: 7px 0;
}
.article p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 7px 0 20px;
}
.article p + p {
  margin-top: -13px;
}
.article ul,
.article ol {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .article h1 {
    font-size: 40px;
    padding: 35px 0 10px;
  }
  .article h2 {
    font-size: 24px;
    padding: 25px 0 10px;
  }
  .article h3 {
    font-size: 16px;
    padding: 10px 0;
  }
  .article p {
    font-size: 16px;
    padding: 10px 0 25px;
  }
  .article p + p {
    margin-top: -15px;
  }
  .article ul,
  .article ol {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1201px) {
  .article h1 {
    font-size: 52px;
    line-height: 1.1;
    padding: 50px 0 15px;
  }
  .article h2 {
    font-size: 32px;
    padding: 35px 0 15px;
  }
  .article h3 {
    font-size: 22px;
    padding: 15px 0;
  }
  .article p {
    font-size: 22px;
    padding: 15px 0 35px;
  }
  .article p + p {
    margin-top: -20px;
  }
  .article ul,
  .article ol {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
.article_author,
.article_publish_time {
  font-size: 10px;
  margin: 7px 0;
  display: inline-block;
}
.article_author {
  margin-left: 5px;
  margin-right: 8px;
  font-weight: 600;
  background-color: #ffcc81;
  border-radius: 1em;
  padding: 0 0.4em;
}
.article .article_p_lead {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 7px 0 25px;
  line-height: 1.1;
}
.table_of_contents {
  padding: 26px 45px 38px;
  background-color: #e7e7ed;
  border-radius: 25px;
  position: relative;
  margin: 7px 0 25px;
}
.table_of_contents::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 100%;
  background-color: #ffcc81;
  border-radius: 25px 0 0 25px;
}
.table_of_contents ul {
  margin: 0;
  padding: 0;
  padding-left: 0.75em;
}
.table_of_contents ul li {
  font-size: 10px;
  line-height: 1.1;
  margin-bottom: 6px;
}
.table_of_contents ul li:last-child {
  margin-bottom: 0;
}
.article__table {
  border-radius: 25px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 7px 0;
}
.article__table th {
  font-size: 10px;
  font-weight: 600;
  background-color: #ffcc81;
  padding: 20px 6px;
}
.article__table td {
  font-size: 10px;
  text-align: center;
  background-color: #d9dae1;
  padding: 13px 4px;
}
.article__table th:not(:last-child),
.article__table td:not(:last-child) {
  border-right: 2px solid white;
}
.article__table tr:first-child th:first-child {
  border-top-left-radius: 25px;
}
.article__table tr:first-child th:last-child {
  border-top-right-radius: 25px;
}
.article__table tr:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.article__table tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.article__table tr:nth-child(2n + 1) td {
  background-color: #e7e7ed;
}
.article table caption {
  caption-side: bottom;
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  padding: 7px 0 20px;
}
.article table:has(caption) {
  margin-bottom: 0;
}
.article_list,
.article_num_list {
  margin: 0;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 300;
  padding-left: 1.3em;
}
.article_list li:not(:last-child),
.article_num_list li:not(:last-child) {
  margin-bottom: 12px;
}
.article_num_list {
  padding-left: 1.5em;
}
.article_num_list li::marker {
  font-weight: bold;
}
.article_lead_img,
.article_img {
  background-color: #e7e7ed;
  border-radius: 25px;
  margin-top: 7px;
  margin-bottom: 25px;
}
.article_lead_img {
  width: 100%;
}
.article_img {
  display: block;
}
figcaption {
  font-size: 10px;
  text-align: left;
  padding-top: 7px;
}
.article_lead_img + figcaption {
  margin-top: -18px;
}
.img-article {
  background-color: #e7e7ed;
  border-radius: 25px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
}
.article_faq_element {
  margin: 0;
}
.article_faq_element dt {
  font-size: 14px;
  padding: 7px 0;
}
.article_faq_element dd {
  font-size: 14px;
  margin: 0;
  padding-left: 24px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-left: 1px solid #202020;
}
.article_faq_element dt::before,
.article_faq_element dd::before {
  display: block;
  font-weight: 600;
  line-height: 1.5;
}
.article_faq_element dt::before {
  content: 'Question';
}
.article_faq_element dd::before {
  content: 'Answer';
}
.page_footer {
  margin-top: 80px;
}
@media (min-width: 361px) {
  .table_of_contents {
    max-width: 475px;
  }
}
@media (min-width: 768px) {
  .article_author,
  .article_publish_time {
    font-size: 12px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .article .article_p_lead {
    font-size: 20px;
    padding: 10px 0 35px;
  }
  .table_of_contents {
    margin: 10px 0 35px;
    max-width: unset;
    padding: 30px 52px 30px;
    border-radius: 30px;
  }
  .table_of_contents::before {
    border-radius: 30px 0 0 30px;
    width: 33px;
  }
  .table_of_contents ul li {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .article__table {
    margin: 10px 0;
  }
  .article__table th {
    font-size: 12px;
    padding: 36px 8px;
  }
  .article__table td {
    font-size: 12px;
    padding: 26px 8px;
  }
  .article__table tr:first-child th:first-child {
    border-top-left-radius: 30px;
  }
  .article__table tr:first-child th:last-child {
    border-top-right-radius: 30px;
  }
  .article__table tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
  }
  .article__table tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
  }
  .article table caption {
    font-size: 12px;
    padding: 10px 0 25px;
  }
  .article_list,
  .article_num_list {
    font-size: 16px;
    max-width: 50%;
  }
  .article_list li:not(:last-child),
  .article_num_list li:not(:last-child) {
    margin-bottom: 16px;
  }
  .article_lead_img,
  .article_img {
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 35px;
  }
  figcaption {
    font-size: 12px;
    padding-top: 10px;
  }
  .article_lead_img + figcaption {
    margin-top: -25px;
  }
  .img-article {
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .article_faq_element {
    width: 50%;
  }
  .article_faq_element dt {
    font-size: 16px;
    padding: 10px 0;
  }
  .article_faq_element dd {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .page_footer {
    margin-top: 122px;
  }
}

@media (min-width: 1201px) {
  .breadcrumb_nav {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
  .main {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
  .article.container {
    margin: 0 77px;
  }
  .article_author,
  .article_publish_time {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .article .article_p_lead {
    font-size: 28px;
    padding: 15px 0 50px;
  }
  .table_of_contents {
    padding: 30px 50px 30px 80px;
    max-width: fit-content;
    border-radius: 40px;
    margin: 15px 0 50px;
  }
  .table_of_contents::before {
    width: 44px;
    border-radius: 40px 0 0 40px;
  }
  .table_of_contents ul li {
    font-size: 16px;
    margin-bottom: 11px;
  }
  .article__table {
    margin: 15px 0;
  }
  .article__table th {
    font-size: 16px;
    padding: 42px 8px;
  }
  .article__table td {
    font-size: 16px;
    padding: 32px 8px;
  }
  .article__table tr:first-child th:first-child {
    border-top-left-radius: 40px;
  }
  .article__table tr:first-child th:last-child {
    border-top-right-radius: 40px;
  }
  .article__table tr:last-child td:first-child {
    border-bottom-left-radius: 40px;
  }
  .article__table tr:last-child td:last-child {
    border-bottom-right-radius: 40px;
  }
  .article table caption {
    font-size: 16px;
    padding: 15px 0 35px;
  }
  .article_list,
  .article_num_list {
    font-size: 22px;
    max-width: 522px;
    padding-left: 36px;
  }
  .article_list li:not(:last-child),
  .article_num_list li:not(:last-child) {
    margin-bottom: 20px;
  }
  .article_lead_img,
  .article_img {
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  figcaption {
    font-size: 16px;
    padding-top: 15px;
  }
  .article_lead_img + figcaption {
    margin-top: -35px;
  }
  .img-article {
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .article_faq_element dt,
  .article_faq_element dd {
    font-size: 22px;
  }
  .article_faq_element dt {
    padding: 15px 0;
  }
  .article_faq_element dd {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .article_faq_element {
    max-width: 525px;
    width: unset;
  }
  .page_footer {
    margin-top: 90px;
  }
}
@media (min-width: 1920px) {
  .article.container {
    margin: 0 auto;
    padding: 0 273px;
  }
  .article__table th {
    padding: 30px 8px;
  }
  .article__table td {
    padding: 19px 30px;
  }
  .article_list,
  .article_num_list {
    max-width: 70%;
  }
  figcaption {
    max-width: 60%;
  }
  .article_faq_element {
    max-width: 70%;
  }
  .page_footer {
    margin-top: 146px;
  }
}
