/* ============ Article Styles ============ */

.article p {
  font-size: 14px;
  line-height: 1.2;
}
.article h1 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 10px;
}
.article h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 24px 0;
}
.article h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 48px;
}
.article__author,
.article__date {
  font-size: 10px;
}
.article__author {
  margin-left: 5px;
  margin-right: 8px;
}
.article .article__lead {
  font-size: 18px;
  font-weight: 300;
  margin-top: 28px;
  line-height: 1.1;
  margin-bottom: 46px;
}
.article__nav {
  padding: 26px 45px 40px;
  background-color: #e7e7ed;
  border-radius: 25px;
  position: relative;
  margin-top: 32px;
  margin-bottom: 46px;
}
.article__nav::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 100%;
  background-color: #ffcc81;
  border-radius: 25px 0 0 25px;
}
.article__nav-list {
  margin: 0;
  padding-left: 0.75em;
}
.article__nav-list li {
  font-size: 10px;
  line-height: 1.1;
  margin-bottom: 6px;
}
.article__nav-list li:last-child {
  margin-bottom: 0;
}
.article__table {
  border-radius: 25px;
  border-collapse: collapse;
  margin-top: 32px;
  table-layout: fixed;
  width: 100%;
}
.article__table th {
  font-size: 10px;
  font-weight: 600;
  background-color: #ffcc81;
  padding: 20px 6px;
}
.article__table td {
  font-size: 10px;
  text-align: center;
  background-color: #d9dae1;
  padding: 13px 4px;
}
.article__table th:not(:last-child),
.article__table td:not(:last-child) {
  border-right: 2px solid white;
}
.article__table tr:first-child th:first-child {
  border-top-left-radius: 25px;
}
.article__table tr:first-child th:last-child {
  border-top-right-radius: 25px;
}
.article__table tr:last-child td:first-child {
  border-bottom-left-radius: 25px;
}
.article__table tr:last-child td:last-child {
  border-bottom-right-radius: 25px;
}
.article__table tr:nth-child(2n + 1) td {
  background-color: #e7e7ed;
}
.article__list {
  margin: 0;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 300;
  margin-top: 26px;
  padding-left: 1.3em;
}
.article__list li {
  margin-bottom: 12px;
}
ol.article__list {
  padding-left: 1.5em;
  padding-top: 10px;
  margin-bottom: 48px;
}
ol.article__list li::marker {
  font-weight: bold;
}
.article__img-wrapper {
  text-align: center;
  margin-bottom: 42px;
}
.article__img-wrapper picture {
  background-color: #e7e7ed;
  text-align: center;
}
.article__img-wrapper picture,
.article__img {
  border-radius: 25px;
}
figcaption {
  font-size: 10px;
  margin-top: 16px;
  text-align: left;
}
.faq__content {
  margin: 0;
  margin-top: 30px;
}
.faq__question {
  margin-bottom: 12px;
  font-size: 14px;
}
.faq__answer {
  font-size: 14px;
  margin: 0;
  padding-left: 24px;
  border-left: 1px solid #202020;
  margin-bottom: 24px;
}
.faq__question::before,
.faq__answer::before {
  display: block;
  font-weight: 600;
  line-height: 1.5;
}
.faq__question::before {
  content: 'Question';
}
.faq__answer::before {
  content: 'Answer';
}
.footer {
  margin-top: 80px;
}
@media (min-width: 361px) {
  .article .article__lead {
    margin-top: 22px;
  }
  .article__nav {
    max-width: 475px;
    padding-bottom: 34px;
  }
  .article h3 {
    margin-top: 40px;
  }
  .article__table {
    margin-top: 24px;
  }
  .article__table th {
    padding: 26px 6px;
  }
  .article__table td {
    padding: 20px 4px;
  }
  figcaption {
    margin-top: 22px;
  }
  .faq__content {
    margin-top: 20px;
  }
  .faq__answer {
    margin-bottom: 18px;
  }
}
@media (min-width: 768px) {
  .article h1 {
    margin-top: 48px;
    font-size: 40px;
  }
  .article h2 {
    font-size: 24px;
  }
  .article h3 {
    font-size: 16px;
  }
  .article p {
    font-size: 16px;
  }
  .article__author,
  .article__date {
    font-size: 12px;
    margin-left: 0;
  }
  .article .article__lead {
    font-size: 20px;
    margin-bottom: 66px;
  }
  .article__nav {
    margin-top: 22px;
    max-width: unset;
    padding: 30px 52px 36px;
    border-radius: 30px;
  }
  .article__nav::before {
    border-radius: 30px 0 0 30px;
    width: 33px;
  }
  .article__nav-list li {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .article__nav {
    margin-bottom: 54px;
  }
  .article__table {
    margin-top: 44px;
    margin-bottom: 60px;
  }
  .article__table th {
    font-size: 12px;
    padding: 36px 8px;
  }
  .article__table td {
    font-size: 12px;
    padding: 26px 8px;
  }
  .article__table tr:first-child th:first-child {
    border-top-left-radius: 30px;
  }
  .article__table tr:first-child th:last-child {
    border-top-right-radius: 30px;
  }
  .article__table tr:last-child td:first-child {
    border-bottom-left-radius: 30px;
  }
  .article__table tr:last-child td:last-child {
    border-bottom-right-radius: 30px;
  }
  .article__list {
    max-width: 50%;
    font-size: 16px;
  }
  ul.article__list {
    margin-top: 30px;
  }
  .article__list li {
    margin-bottom: 16px;
  }
  ol.article__list {
    margin-top: 42px;
    margin-bottom: 70px;
  }
  figcaption {
    font-size: 12px;
    margin-top: 36px;
  }
  .article__img-wrapper {
    border-radius: 30px;
  }
  .article__img-wrapper picture,
  .article__img {
    border-radius: 30px;
  }
  .faq__content {
    margin-top: 36px;
    width: 50%;
  }

  .faq__question {
    font-size: 16px;
  }
  .faq__answer {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .footer {
    margin-top: 122px;
  }
}

@media (min-width: 1201px) {
  .article .container {
    margin: 0 77px;
  }
  .article h1 {
    font-size: 52px;
    margin-top: 64px;
    margin-bottom: 12px;
    line-height: 1.1;
  }
  .article h2 {
    font-size: 32px;
  }
  .article h3 {
    font-size: 22px;
  }
  .article p {
    font-size: 22px;
  }
  .article__author,
  .article__date {
    font-size: 16px;
  }
  .article .article__lead {
    font-size: 28px;
    margin-top: 28px;
    margin-bottom: 60px;
  }
  .article__nav {
    padding: 42px 50px 38px 80px;
    max-width: fit-content;
    border-radius: 40px;
    margin-bottom: 70px;
    margin-top: 30px;
  }
  .article__nav::before {
    width: 44px;
    border-radius: 40px 0 0 40px;
  }
  .article__nav-list li {
    font-size: 16px;
    margin-bottom: 11px;
  }
  .article h3 {
    font-size: 22px;
    margin-top: 48px;
  }
  .article__table {
    margin-top: 24px;
    margin-bottom: 70px;
  }
  .article__table th {
    font-size: 16px;
    padding: 42px 8px;
  }
  .article__table td {
    font-size: 16px;
    padding: 32px 8px;
  }
  .article__table tr:first-child th:first-child {
    border-top-left-radius: 40px;
  }
  .article__table tr:first-child th:last-child {
    border-top-right-radius: 40px;
  }
  .article__table tr:last-child td:first-child {
    border-bottom-left-radius: 40px;
  }
  .article__table tr:last-child td:last-child {
    border-bottom-right-radius: 40px;
  }
  .article__list {
    font-size: 22px;
    max-width: 522px;
    padding-left: 36px;
  }
  .article__list li {
    margin-bottom: 20px;
  }
  ol.article__list {
    margin-top: 50px;
    margin-bottom: 96px;
  }
  .article__img-wrapper picture,
  .article__img {
    border-radius: 50px;
  }
  figcaption {
    font-size: 16px;
    margin-top: 30px;
  }
  .faq__question,
  .faq__answer {
    font-size: 22px;
  }
  .faq__content {
    margin-top: 72px;
    max-width: 525px;
    width: unset;
  }

  .faq__question {
    margin-bottom: 32px;
  }
  .footer {
    margin-top: 90px;
  }
}
@media (min-width: 1920px) {
  .article .container {
    margin: 0 auto;
    padding: 0 273px;
  }
  .article__nav {
    margin-bottom: 90px;
  }
  .article__table th {
    padding: 30px 8px;
  }
  .article__table td {
    padding: 19px 30px;
  }
  .article__list {
    max-width: 70%;
  }
  ul.article__list {
    margin-top: 38px;
  }
  ol.article__list {
    margin-bottom: 170px;
  }
  figcaption {
    margin-top: 42px;
    max-width: 60%;
  }
  .faq__content {
    max-width: 70%;
  }
  .faq__question {
    margin-bottom: 28px;
  }
  .faq__answer {
    margin-bottom: 42px;
  }
  .footer {
    margin-top: 146px;
  }
}
