h1 {
  font-size: 33px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 1.3em;
}
p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}
.wrapper_cart_content {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cart_section .cart_items_list {
  position: relative;
  border-radius: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}
.cart_section .cart_items_list::before {
  border-radius: 30px 30px 0 0;
}
.cart_section .cart_items_list::before {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background-color: #ffcc81;
}
.cart_section .cart_item:nth-child(odd) {
  background-color: #e7e7ed;
}
.cart_section .cart_item:nth-child(even) {
  background-color: rgb(231, 231, 237, 0.5);
}
.cart_section .cart_item:last-child {
  border-radius: 0 0 30px 30px;
}

.cart_section .cart_item {
  position: relative;
  padding: 30px 24px;
}
.cart_section .product_lead_img {
  border-radius: 25px;
  width: 106px;
  height: auto;
  background-color: white;
}
.cart_section .cart_product_heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  margin: 0;
  padding: 7px 0;
}
.cart_section .price_cart_item {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 7px 0;
  align-self: self-end;
}

.cart_section .price_cart_item ins,
.cart_section .price_cart_item strong {
  font-weight: 400;
  text-decoration: none;
}
.cart_section .price_cart_item strong {
  display: block;
  text-align: center;
}
.cart_section .price_cart_item del {
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 6px;
}
.cart_section .price_cart_item del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 1.7px;
  background-color: #ffcc81;
}

/* Quantity field */
.cart_section .product_qty_fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  position: relative;
  display: block;
}
.cart_section .product_qty_input {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  width: 100%;
  padding: 9px 26px;
  border: 0;
  border-radius: 100px;
  margin: 6px 0;
}
.cart_section .product_qty_input::-webkit-outer-spin-button,
.cart_section .product_qty_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart_section .product_qty_input[type='number'] {
  -moz-appearance: textfield;
}
.cart_section .product_qty_fieldset button {
  background: none;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
}
.cart_section .product_qty_decrease {
  left: 0;
  padding-left: 30px;
}
.cart_section .product_qty_increase {
  right: 0;
  padding-right: 30px;
}
.wr_cart_product_variables {
  display: flex;
  gap: 8px;
}
.cart_product_variables_value {
  padding-left: 4px;
}

/*cart_item_remove_button*/
.cart_section .cart_item_remove_button {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  cursor: pointer;
}

.cart_section .cart_item {
  display: grid;
  grid-template-columns: 105px 1fr;
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 22px;
  grid-row-gap: 0px;
}

.cart_section .product_lead_img {
  grid-area: 1 / 1 / 3 / 2;
}
.cart_section .cart_product_heading {
  grid-area: 1 / 2 / 2 / 3;
}
.cart_section .price_cart_item {
  grid-area: 2 / 2 / 3 / 3;
}
.cart_section .price_cart_item {
  grid-area: 2 / 2 / 3 / 3;
}
.cart_section .wr_cart_product_variables {
  grid-area: 3 / 1 / 4 / 3;
  margin-top: 14px;
}
.cart_section .product_qty_fieldset {
  grid-area: 4 / 1 / 5 / 3;
}
.cart_section .cart_item_remove_button {
  grid-area: 5 / 1 / 6 / 3;
}
.cart_section .price_cart_item_total {
  grid-area: 6 / 1 / 7 / 3;
}
.cart_section .price_cart_item_total {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
}
.cart_section .price_cart_item_total ins,
.cart_section .price_cart_item_total strong,
.cart_section .price_cart_item_total del {
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
}
.cart_section .price_cart_item_total ins,
.cart_section .price_cart_item_total strong {
  font-weight: 600;
}
.cart_section .price_cart_item_total del {
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 8px;
}
.cart_section .price_cart_item_total del::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 56%;
  width: 100%;
  background-color: #ffcc81;
  height: 2.5px;
  left: 0;
  transform: translateY(-50%) rotate(-22deg);
}

/* ================ Checkout Summary ================ */
.checkout_summary {
  border-radius: 30px;
  background-color: rgb(231, 231, 237, 0.5);
  padding: 36px 20px 14px;
}
.checkout_summary p {
  margin: 0;
}

.checkout_summary .cart_price_subtotal,
.checkout_summary .cart_price_tax,
.checkout_summary .cart_price_shipping {
  font-size: 12px;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout_summary .cart_price_subtotal strong,
.checkout_summary .cart_price_tax strong,
.checkout_summary .cart_price_shipping strong {
  font-weight: 400;
}
.checkout_summary .cart_price_subtotal del {
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 8px;
}
.checkout_summary .cart_price_subtotal del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.checkout_summary .cart_price_subtotal ins,
.checkout_summary .cart_price_subtotal strong {
  text-decoration: none;
}
.checkout_summary .cart_price_tax,
.checkout_summary .cart_price_shipping {
  color: #8b91a0;
}
.checkout_summary hr {
  border: 1px solid white;
  margin: 35px 0;
  border-radius: 2px;
}
.checkout_summary .coupon_fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.checkout_summary .coupon_fieldset .coupon_label {
  font-size: 10px;
  line-height: 1.1;
  padding-bottom: 10px;
  display: inline-block;
}
.checkout_summary .wr_coupon_input {
  position: relative;
  display: block;
}
.checkout_summary .coupon_input {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  padding: 12px 26px;
  border: 0;
  border-radius: 100px;
  line-height: 1;
  position: relative;
  display: block;
}
.checkout_summary .coupon_add_button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.checkout_summary .coupon_add_button svg {
  vertical-align: middle;
}
.checkout_summary .cart_price_total {
  padding-top: 24px;
}
.checkout_summary .cart_price_total del {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.checkout_summary .cart_price_total del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.checkout_summary .cart_price_total del .product_price_integer {
  font-size: 30px;
  font-weight: 400;
}
.checkout_summary .cart_price_total strong,
.checkout_summary .cart_price_total ins {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
}
.checkout_summary .cart_price_total strong .product_price_integer,
.checkout_summary .cart_price_total ins .product_price_integer {
  font-size: 48px;
  font-weight: 400;
}
.checkout_summary .buy_now_paypal {
  font-size: 12px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  padding: 10px 22px;
  cursor: pointer;
  background-color: #f6c305;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 2;
  margin: 16px auto 0;
  min-width: 270px;
}
.wrapper_coupon_price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.checkout_summary .cart_price_total {
  margin-left: auto;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  p {
    font-size: 16px;
  }
  .cart_section .cart_items_list {
    margin-bottom: 65px;
  }
  .cart_section .cart_item {
    padding: 15px 54px 15px 28px;
  }
  .cart_section .cart_item {
    grid-template-columns: max-content 44px 2fr 1.5fr max-content 2fr;
    grid-template-rows: 1fr auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .cart_section .product_lead_img {
    grid-area: 1 / 1 / 4 / 2;
  }
  .cart_section .cart_product_heading {
    grid-area: 1 / 3 / 2 / 7;
    align-self: center;
  }
  .cart_section .product_qty_fieldset {
    grid-area: 2 / 4 / 3 / 5;
  }
  .cart_section .cart_item_remove_button {
    grid-area: 2 / 5 / 3 / 6;
  }
  .cart_section .price_cart_item {
    grid-area: 2 / 3 / 3 / 4;
  }
  .cart_section .price_cart_item_total {
    grid-area: 2 / 6 / 3 / 7;
  }
  .cart_section .wr_cart_product_variables {
    grid-area: 3 / 3 / 4 / 7;
    margin-top: 0px;
    align-self: center;
  }
  .cart_section .product_lead_img {
    width: 96px;
  }
  .cart_section .cart_product_heading {
    font-size: 16px;
    padding: 0;
    align-self: center;
  }
  .cart_section .price_cart_item {
    font-size: 20px;
  }
  .cart_section .product_qty_fieldset {
    margin-top: 0;
    align-self: center;
  }
  .cart_section .product_qty_input {
    font-size: 16px;
    font-weight: 400;
  }
  .cart_section .product_qty_fieldset button {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .cart_section .product_qty_increase {
    padding-right: 13px;
  }
  .cart_section .product_qty_decrease {
    padding-left: 13px;
  }
  .cart_section .cart_item_remove_button {
    margin-top: 0;
    align-self: center;
    padding: 0 14px;
  }
  .cart_section .cart_item_remove_button svg {
    width: 22px;
    height: auto;
    vertical-align: middle;
  }
  .cart_section .price_cart_item {
    align-self: center;
  }
  .cart_section .price_cart_item_total {
    margin-top: 0;
    align-self: center;
    margin-left: auto;
  }
  .cart_section .price_cart_item_total ins,
  .cart_section .price_cart_item_total strong,
  .cart_section .price_cart_item_total del {
    font-size: 20px;
  }
  .cart_section .price_cart_item_total del::before {
    top: 32%;
    transform: translateY(-50%) rotate(-15deg);
  }
  .cart_section .cart_product_variables {
    font-size: 14px;
    line-height: 1;
  }
  /* ================ Checkout Summary ================ */
  .checkout_summary {
    border-radius: 50px;
    padding: 32px 28px 28px;
  }
  .checkout_summary .cart_price_subtotal,
  .checkout_summary .cart_price_tax,
  .checkout_summary .cart_price_shipping {
    font-size: 16px;
  }
  .checkout_summary hr {
    margin: 18px 0;
  }
  .wrapper_coupon_price {
    justify-content: space-between;
  }
  .checkout_summary .coupon_fieldset {
    max-width: 210px;
  }
  .checkout_summary .coupon_input {
    font-size: 28px;
    padding: 13px 18px;
  }
  .checkout_summary .coupon_fieldset .coupon_label {
    font-size: 12px;
    padding-left: 12px;
  }
  .checkout_summary .cart_price_total del {
    margin-right: 16px;
  }
  .checkout_summary .buy_now_paypal {
    margin-right: 0;
  }
}
@media (min-width: 1201px) {
  .wrapper_cart_content {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }
  .wrapper_cart_content > :first-child {
    flex: 2;
  }
  .wrapper_cart_content > :last-child {
    flex: 1;
  }
  .cart_section .cart_items_list {
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .cart_section .cart_item {
    grid-template-columns: max-content 44px 200px 100px max-content 2fr;
  }
}
/* Footer */
.page_footer {
  margin-top: 45px;
}
@media (min-width: 768px) {
  .page_footer {
    margin-top: 90px;
  }
}
@media (min-width: 1201px) {
  .page_footer {
    margin-top: 155px;
  }
}
