.cart_popup_section .container {
  padding: 0;
  margin: 0 20px;
}
.cart_popup_section {
  border-radius: 30px;
  position: absolute;
  top: 187px;
  right: 0;
}
.wrapper_cart_popup_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e7e7ed;
  background-color: #202020;
  border-radius: 30px 30px 0 0;
  padding: 16px 18px 16px 24px;
}
.popup_cart_heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}
.cart_popup_close {
  background-color: transparent;
  border: 0;
  display: flex;
  cursor: pointer;
  padding: 0;
}

/* Cart Popup Body*/
.cart_popup_item_added_msg {
  font-size: 20px;
  position: relative;
  display: flex;
  gap: 8px;
  margin: 0;
}
.cart_popup_item_added_msg::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.5515 0.207031C18.7715 1.84095 15.9768 4.09431 13.3922 7.7091C11.2847 10.6558 9.16728 14.5928 6.47419 19.8053C5.74174 18.2401 5.10162 16.7179 4.52285 15.1714L4.44787 14.9718H0.267578L4.56871 24.0524H8.2576L8.34374 23.874C14.4339 11.6341 17.5446 6.04984 23.8652 3.14395L22.5515 0.207031Z' fill='black'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.wrapper_cart_popup_body {
  background-color: #efeff3;
  padding: 30px 20px 0;
}
.wrapper_cart_popup_footer {
  background-color: #e7e7ed;
  padding: 35px 20px 24px;
  border-radius: 0 0 30px 30px;
}
.cart_popup_item_added_msg {
  margin: 0;
}
.cart_items_list {
  position: relative;
  border-radius: 30px;
  padding: 0;
  margin: 0;
}
.cart_item {
  position: relative;
  border-bottom: 2px solid #ffffff;
  padding: 40px 0;
}
.cart_item:last-child {
  border-bottom: 0;
}
.cart_item .product_lead_img {
  border-radius: 25px;
  width: 106px;
  height: auto;
  background-color: white;
}
.cart_product_heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  margin: 0;
  padding: 7px 0;
}
.price_cart_item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 7px 0;
}
.price_cart_item ins,
.price_cart_item strong,
.price_cart_item del {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
}
.price_cart_item strong {
  display: block;
  text-align: center;
}
.price_cart_item del {
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 6px;
}
.price_cart_item del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 1.7px;
  background-color: #ffcc81;
}
.price_cart_item_total {
  grid-area: 5 / 1 / 6 / 3;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 0;
}
.price_cart_item_total ins,
.price_cart_item_total strong,
.price_cart_item_total del {
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
}
.price_cart_item_total ins,
.price_cart_item_total strong {
  font-weight: 600;
}
.price_cart_item_total del {
  margin-right: 8px;
}
.price_cart_item_total del::before {
  height: 2.5px;
  left: 0;
  transform: translateY(-50%) rotate(-22deg);
}

/* Quantity field */
.cart_item .product_qty_fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  position: relative;
  display: block;
}
.cart_item .product_qty_input {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  width: 100%;
  padding: 12px 26px;
  border: 0;
  border-radius: 100px;
}
.cart_item .product_qty_input::-webkit-outer-spin-button,
.cart_item .product_qty_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart_item .product_qty_input[type='number'] {
  -moz-appearance: textfield;
}
.cart_item .product_qty_fieldset button {
  background: none;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
}
.cart_item .product_qty_decrease {
  left: 0;
  padding-left: 30px;
}
.cart_item .product_qty_increase {
  right: 0;
  padding-right: 30px;
}

/*cart_item_remove_button*/
.cart_item_remove_button {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cart_item_remove_button {
  margin-top: 28px;
  cursor: pointer;
}

.cart_item {
  display: grid;
  grid-template-columns: 105px 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 22px;
  grid-row-gap: 0px;
}

.cart_item .product_lead_img {
  grid-area: 1 / 1 / 3 / 2;
}
.cart_product_heading {
  grid-area: 1 / 2 / 2 / 3;
}
.price_cart_item {
  grid-area: 2 / 2 / 3 / 3;
}
.cart_item .product_qty_fieldset {
  grid-area: 3 / 1 / 4 / 3;
}
.cart_item_remove_button {
  grid-area: 4 / 1 / 5 / 3;
}
/* Cart Popup Footer */
.cart_price_subtotal {
  text-align: right;
  padding: 0 0 18px;
  margin: 0;
}
.cart_price_subtotal del {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 12px;
  white-space: nowrap;
}
.cart_price_subtotal del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.cart_price_subtotal del .product_price_integer {
  font-size: 30px;
  font-weight: 400;
}
.cart_price_subtotal ins,
.cart_price_subtotal strong {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
}
.cart_price_subtotal ins .product_price_integer,
.cart_price_subtotal strong .product_price_integer {
  font-size: 46px;
  font-weight: 400;
}
.cart_text {
  display: none;
}
.anchor_cart_popup_checkout {
  background-color: #ffcc81;
  border: 0;
  border-radius: 5rem;
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
@media (min-width: 425px) {
  .cart_popup_section {
    top: 173px;
  }
}

@media (min-width: 768px) {
  .cart_popup_section .container {
    margin: 0 48px;
  }
  .cart_popup_section {
    top: 193px;
  }
  .cart-header h2 {
    font-size: 24px;
  }
  .wrapper_cart_popup_header {
    padding: 30px 40px 25px 50px;
    border-radius: 40px 40px 0 0;
  }
  .popup_cart_heading {
    font-size: 24px;
  }
  .cart_popup_close svg {
    width: 25px;
    height: auto;
  }
  .cart_popup_item_added_msg {
    font-size: 24px;
    padding-left: 14px;
  }
  .cart_popup_item_added_msg::before {
    width: 24px;
    height: 24px;
  }
  .wrapper_cart_popup_body {
    padding: 35px 35px 0;
  }
  .wrapper_cart_popup_footer {
    border-radius: 0 0 40px 40px;
    padding: 22px 22px 25px 50px;
  }
  .cart_item {
    display: grid;
    grid-template-columns: max-content 44px 2fr 1.5fr max-content 2fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .cart_item .product_lead_img {
    grid-area: 1 / 1 / 3 / 2;
  }
  .cart_product_heading {
    grid-area: 1 / 3 / 2 / 7;
  }
  .cart_item .product_qty_fieldset {
    grid-area: 2 / 4 / 3 / 5;
  }
  .cart_item_remove_button {
    grid-area: 2 / 5 / 3 / 6;
  }
  .price_cart_item {
    grid-area: 2 / 3 / 3 / 4;
  }
  .price_cart_item_total {
    grid-area: 2 / 6 / 3 / 7;
  }
  .cart_item {
    padding: 20px 14px;
  }
  .cart_product_heading {
    font-size: 16px;
    padding: 10px 0;
  }
  .price_cart_item {
    font-size: 16px;
  }
  .price_cart_item ins,
  .price_cart_item strong,
  .price_cart_item del {
    font-size: 16px;
    text-align: left;
  }
  .cart_item .product_qty_fieldset {
    margin-top: 0;
    align-self: center;
  }
  .cart_item .product_qty_input {
    font-size: 16px;
    font-weight: 400;
  }
  .cart_item .product_qty_fieldset button {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .cart_item .product_qty_increase {
    padding-right: 13px;
  }
  .cart_item .product_qty_decrease {
    padding-left: 13px;
  }
  .cart_item_remove_button {
    margin-top: 0;
    align-self: center;
    padding: 0 14px;
  }
  .cart_item_remove_button svg {
    width: 22px;
    height: auto;
    vertical-align: middle;
  }
  .price_cart_item {
    align-self: center;
    text-align: left;
  }
  .price_cart_item del::before {
    height: 2.5px;
  }
  .price_cart_item_total {
    margin-top: 0;
    align-self: center;
  }
  .price_cart_item_total ins,
  .price_cart_item_total strong,
  .price_cart_item_total del {
    font-size: 16px;
  }
  .price_cart_item_total del::before {
    top: 32%;
    transform: translateY(-50%) rotate(-15deg);
  }
  .cart_price_subtotal {
    display: flex;
    align-items: center;
    position: relative;
  }
  .cart_text {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-right: auto;
  }
  .anchor_cart_popup_checkout {
    margin-right: 0;
    max-width: 232px;
  }
}
@media (min-width: 1000px) {
  .cart_popup_section .container {
    margin: 0 133px;
    max-width: 675px;
  }
}
@media (min-width: 1401px) {
  .cart_popup_section {
    top: 144px;
  }
}
@media (min-width: 1920px) {
  .cart_popup_section .container {
    margin-right: calc((100vw - 1920px) / 2 + 133px);
  }
}
