.header {
  position: relative;
  z-index: 1;
}
.breadcrumb {
  position: relative;
  z-index: 1;
}
.breadcrumb > li + li:before {
  color: white;
}
.hero {
  background-image: url('../images/bg-sm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 35px 35px;
  color: #e7e7ed;
  margin-top: -114px;
  position: relative;
  padding: 125px 0 26px;
}
.catalog_products_heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.1;
  color: #e7e7ed;
  text-align: center;
  margin: 0;
}
.catalog_products_p_lead {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
  margin: 28px 0;
}
.catalog_products_sorting_selection {
  outline: 0;
  font: inherit;
  font-size: 14px;
  background-color: #e7e7ed;
  border: 0;
  border-radius: 10em;
  padding: 12px 22px;
  min-width: 165px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.sort-filter {
  margin-top: 28px;
  text-align: right;
}
.select-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.select-wrapper::after {
  content: '';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.6787' cy='13.748' r='13.3848' transform='rotate(-180 13.6787 13.748)' fill='%23FFCC81'/%3E%3Cline x1='21.3229' y1='13.3386' x2='12.835' y2='21.8265' stroke='%23202020' stroke-width='2.40493'/%3E%3Cline x1='13.5863' y1='4.83203' x2='13.5863' y2='20.5979' stroke='%23202020' stroke-width='2.40493'/%3E%3Cline x1='5.96941' y1='13.3216' x2='14.4574' y2='21.8096' stroke='%23202020' stroke-width='2.40493'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  pointer-events: none;
}
.catalog_products_sorting_label_value {
  font-size: 14px;
  font-weight: 600;
}
.catalog_products_list {
  list-style: none;
  padding: 0;
  margin: 35px 0 85px;
}
.catalog_products_list_element {
  background-color: white;
  border-radius: 30px;
  padding: 25px 22px 20px;
  margin-bottom: 30px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.product_heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 22px;
}
.product_lead_img {
  display: block;
  margin: 0 auto;
}
.product_price {
  text-align: right;
  margin: 0 16px 4px;
}
.product_price del {
  font-size: 16px;
  font-weight: 600;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  text-decoration: none;
}
.product_price del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -6px;
  top: 30%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.product_price del .price-whole {
  font-size: 26px;
  font-weight: 400;
}
.product_price ins,
.product_price strong {
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 10px;
}
.product_price ins .price-whole,
.product_price strong .price-whole {
  font-size: 45px;
  font-weight: 400;
}
.add-cart-button {
  font-size: 14px;
  background-color: #ffcc81;
  border: 0;
  cursor: pointer;
  border-radius: 10em;
  width: 100%;
  padding: 12px;
}
.footer {
  margin-top: 140px;
}
@media (min-width: 768px) {
  .hero {
    background-image: url('../images/bg-md.jpg');
    border-radius: 0 0 40px 40px;
    margin-top: -142px;
    padding: 172px 0 22px;
  }
  .catalog_products_heading {
    font-size: 62px;
  }
  .catalog_products_p_lead {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin: 38px auto;
    max-width: 90%;
  }
  .catalog_products_sorting_label_value,
  .catalog_products_sorting_selection {
    font-size: 16px;
  }
  .catalog_products_sorting_selection {
    min-width: 190px;
    padding: 12px 35px;
  }
  .sort-filter {
    margin-top: 48px;
  }
  .catalog_products_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 22px;
    margin-top: 60px;
  }
  .catalog_products_list_element {
    flex-basis: calc(50% - 11px);
    padding: 42px 22px 24px;
    margin: 0;
  }
  .product {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .product_anchor {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .product_heading {
    font-size: 16px;
  }
  .product_price {
    margin: 20px 4px 4px;
  }
  .product_price del {
    font-size: 18px;
  }
  .product_price del .price-whole {
    font-size: 28px;
  }
  .product_price ins,
  .product_price strong {
    font-size: 28px;
  }
  .product_price ins .price-whole,
  .product_price strong .price-whole {
    font-size: 48px;
  }
  .add-cart-button {
    font-size: 16px;
  }
}
@media (min-width: 1201px) {
  .hero {
    background-image: url('../images/bg-lg.jpg');
    border-radius: 0 0 50px 50px;
  }
  .catalog_products_p_lead {
    max-width: 70%;
  }
  .catalog_products_list_element {
    margin-bottom: 0;
    flex-basis: auto;
    flex-basis: calc(33% - 12px);
    padding: 42px 30px 30px;
  }
}
@media (min-width: 1600px) {
  .catalog_products_list_element {
    flex-basis: calc(25% - 20px);
    max-width: 394px;
  }
  .catalog_products_list {
    gap: 74px 26px;
  }
  .footer {
    margin-top: 180px;
  }
}
