h1 {
  font-size: 33px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 1.3em;
}
p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}
.cart-boxes-wrapper {
  position: relative;
  border-radius: 30px;
  margin-bottom: 40px;
}
.cart-boxes-wrapper::before {
  border-radius: 30px 30px 0 0;
}
.cart-boxes-wrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background-color: #ffcc81;
}
.cart-box:nth-child(odd) {
  background-color: #e7e7ed;
}
.cart-box:nth-child(even) {
  background-color: rgb(231, 231, 237, 0.5);
}
.cart-box:last-child {
  border-radius: 0 0 30px 30px;
}

.cart-box {
  position: relative;
  padding: 28px 20px 22px;
}
.cart-box .prod-thumb {
  border-radius: 25px;
  width: 106px;
  height: auto;
  background-color: white;
}
.prod-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  margin: 0;
  padding: 7px 0;
}
.prod-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 7px 0;
}

.prod-price ins,
.prod-price strong {
  font-weight: 400;
  text-decoration: none;
}
.prod-price strong {
  display: block;
  text-align: center;
}
.prod-price del {
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 6px;
}
.prod-price del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 1.7px;
  background-color: #ffcc81;
}

/* Quantity field */
.quantity-field {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 28px;
  position: relative;
  display: block;
}
.quantity-field input {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  width: 100%;
  padding: 12px 26px;
  border: 0;
  border-radius: 100px;
}
.quantity-field input::-webkit-outer-spin-button,
.quantity-field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity-field input[type='number'] {
  -moz-appearance: textfield;
}
.quantity-field button {
  background: none;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
}
.dec-btn {
  left: 0;
  padding-left: 30px;
}
.inc-btn {
  right: 0;
  padding-right: 30px;
}

/*delete-btn*/
.delete-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.delete-btn {
  margin-top: 28px;
  cursor: pointer;
}

.cart-box {
  display: grid;
  grid-template-columns: 105px 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 22px;
  grid-row-gap: 0px;
}

.prod-thumb {
  grid-area: 1 / 1 / 3 / 2;
}
.prod-name {
  grid-area: 1 / 2 / 2 / 3;
}
.prod-price {
  grid-area: 2 / 2 / 3 / 3;
}
.quantity-field {
  grid-area: 3 / 1 / 4 / 3;
}
.delete-btn {
  grid-area: 4 / 1 / 5 / 3;
}

/* ================ Checkout Summary ================ */
.checkout-summary {
  border-radius: 30px;
  background-color: rgb(231, 231, 237, 0.5);
  padding: 36px 14px 14px;
}
.checkout-summary p {
  margin: 0;
}

.checkout-summary .subtotal,
.checkout-summary .tax,
.checkout-summary .shipping {
  font-size: 12px;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.checkout-summary .subtotal del {
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 8px;
}
.checkout-summary .subtotal del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.checkout-summary .subtotal ins,
.checkout-summary .subtotal strong {
  text-decoration: none;
}
.checkout-summary .tax,
.checkout-summary .shipping {
  color: #8b91a0;
}
.checkout-summary hr {
  border: 1px solid white;
  margin: 35px 0;
  border-radius: 2px;
}
.coupon-field {
  border: 0;
  padding: 0;
  margin: 0;
}
.coupon-field .label {
  font-size: 10px;
  line-height: 1.1;
  padding-bottom: 10px;
  display: inline-block;
}
.coupon-field-input {
  position: relative;
  display: block;
}
.coupon-input {
  position: relative;
  display: block;
}
.coupon-input input {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  padding: 12px 26px;
  border: 0;
  border-radius: 100px;
  line-height: 1;
}
.coupon-input button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.coupon-input button svg {
  vertical-align: middle;
}
.pricing {
  padding-top: 24px;
}
.pricing del {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.pricing del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.pricing del .price-whole {
  font-size: 30px;
  font-weight: 400;
}
.pricing strong,
.pricing ins {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
}
.pricing strong .price-whole,
.pricing ins .price-whole {
  font-size: 48px;
  font-weight: 400;
}
.paypal-btn {
  font-size: 12px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  padding: 10px 22px;
  cursor: pointer;
  background-color: #f6c305;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 2;
  margin: 16px auto 0;
  min-width: 270px;
}
.cpn-prc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.checkout-summary .pricing {
  margin-left: auto;
}
.footer {
  margin-top: 105px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  p {
    font-size: 16px;
  }
  .cart-boxes-wrapper {
    margin-bottom: 65px;
  }
  .cart-box {
    padding: 15px 54px 15px 28px;
  }
  .cart-box {
    display: grid;
    grid-template-columns: max-content 44px 96px 92px auto max-content;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .prod-thumb {
    grid-area: 1 / 1 / 3 / 2;
  }
  .prod-name {
    grid-area: 1 / 3 / 2 / 7;
  }
  .quantity-field {
    grid-area: 2 / 3 / 3 / 4;
  }
  .delete-btn {
    grid-area: 2 / 4 / 3 / 5;
  }
  .prod-price {
    grid-area: 2 / 6 / 3 / 7;
  }
  .prod-name {
    font-size: 16px;
    padding: 10px 0;
  }
  .prod-price {
    font-size: 16px;
  }
  .quantity-field {
    margin-top: 0;
    align-self: center;
  }
  .quantity-field input {
    font-size: 16px;
    font-weight: 400;
  }
  .quantity-field button {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .inc-btn {
    padding-right: 13px;
  }
  .dec-btn {
    padding-left: 13px;
  }
  .delete-btn {
    margin-top: 0;
    align-self: center;
  }
  .delete-btn svg {
    width: 22px;
    height: auto;
    vertical-align: middle;
  }
  .prod-price {
    align-self: center;
  }
  /* ================ Checkout Summary ================ */
  .checkout-summary {
    border-radius: 50px;
    padding: 32px 28px 28px;
  }
  .checkout-summary .subtotal,
  .checkout-summary .tax,
  .checkout-summary .shipping {
    font-size: 16px;
  }
  .checkout-summary hr {
    margin: 18px 0;
  }
  .cpn-prc-wrapper {
    justify-content: space-between;
  }
  .coupon-field {
    max-width: 210px;
  }
  .coupon-input input {
    font-size: 28px;
    padding: 13px 18px;
  }
  .coupon-field .label {
    font-size: 12px;
    padding-left: 12px;
  }
  .pricing del {
    margin-right: 16px;
  }
  .paypal-btn {
    margin-right: 0;
  }
}
@media (min-width: 1201px) {
  .cart-content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;
  }
  .cart-content-wrapper > :first-child {
    flex: 2;
  }
  .cart-content-wrapper > :last-child {
    flex: 1;
  }
}
