h1 {
  font-size: 33px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 0;
}
p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}
.order-time {
  font-size: 10px;
}
.cart-boxes-wrapper {
  position: relative;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.cart-boxes-wrapper::before {
  border-radius: 30px 30px 0 0;
}
.cart-boxes-wrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  background-color: #ffcc81;
}
.cart-box:nth-child(odd) {
  background-color: #e7e7ed;
}
.cart-box:nth-child(even) {
  background-color: rgb(231, 231, 237, 0.5);
}
.cart-box:last-child {
  border-radius: 0 0 30px 30px;
}

.cart-box {
  position: relative;
  padding: 28px 20px 22px;
}
.cart-box .prod-thumb {
  border-radius: 25px;
  width: 106px;
  height: auto;
  background-color: white;
}
.prod-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  margin: 0;
  padding: 7px 0;
}
.prod-price {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 7px 0;
}

.prod-price ins,
.prod-price strong {
  font-weight: 400;
  text-decoration: none;
}
.prod-price strong {
  display: block;
  text-align: center;
}
.prod-price del {
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 6px;
}
.prod-price del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 1.7px;
  background-color: #ffcc81;
}
.order-tracking {
  text-align: center;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

/* Quantity field */
.quantity-field {
  margin-top: 28px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  padding: 12px 26px;
  border-radius: 100px;
  background-color: white;
}
.order-status {
  text-align: center;
  margin-top: 18px;
}
.cart-box {
  display: grid;
  grid-template-columns: 105px 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 22px;
  grid-row-gap: 0px;
}

.prod-thumb {
  grid-area: 1 / 1 / 3 / 2;
}
.prod-name {
  grid-area: 1 / 2 / 2 / 3;
}
.prod-price {
  grid-area: 2 / 2 / 3 / 3;
}
.order-tracking {
  grid-area: 3 / 1 / 4 / 3;
}
.quantity-field {
  grid-area: 4 / 1 / 5 / 3;
}
.order-status {
  grid-area: 5 / 1 / 6 / 3;
}

/* ================ Checkout Summary ================ */
.order-summary {
  border-radius: 30px;
  background-color: rgb(231, 231, 237, 0.5);
  padding: 36px 14px 14px;
}
.order-summary p {
  margin: 0;
}

.order-summary .subtotal,
.order-summary .tax,
.order-summary .shipping {
  font-size: 12px;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.order-summary .subtotal del {
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 8px;
}
.order-summary .subtotal del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.order-summary .subtotal ins,
.order-summary .subtotal strong {
  text-decoration: none;
}
.order-summary .tax,
.order-summary .shipping {
  color: #8b91a0;
}
.order-summary hr {
  border: 1px solid white;
  margin: 14px 0;
  border-radius: 2px;
}

.pricing del {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.pricing del::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
.pricing del .price-whole {
  font-size: 30px;
  font-weight: 400;
}
.pricing strong,
.pricing ins {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
}
.pricing strong .price-whole,
.pricing ins .price-whole {
  font-size: 48px;
  font-weight: 400;
}

.order-summary .pricing {
  margin-left: auto;
  text-align: right;
}
.order-tracking {
  position: relative;
}
.order-tracking-popup {
  position: absolute;
  color: rgb(231, 231, 237, 0.5);
  background-color: #202020;
  width: 100vw;
  max-width: calc(100vw - 40px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  font-size: 14px;
  text-align: left;
  padding: 25px 20px;
  z-index: 1;
  margin-top: 10px;
}
.order-tracking-btn {
  font-size: 14px;
  font-weight: 600;
  border: 0;
  background-color: #ffcc81;
  cursor: pointer;
  border-radius: 20px;
  padding-left: 6px;
  padding-right: 6px;
}
.order-tracking-closebtn {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}
.order-tracking-key {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}
.order-tracking-text {
  font-weight: 400;
}
.page_footer {
  margin-top: 105px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
    margin-top: 0;
  }
  p {
    font-size: 16px;
  }
  .cart-boxes-wrapper {
    margin-bottom: 65px;
  }
  .cart-box {
    padding: 15px 54px 15px 28px;
  }
  .prod-name {
    font-size: 16px;
    padding: 0 0 10px;
    padding-top: 0;
  }
  .prod-price {
    font-size: 16px;
    text-align: right;
  }
  .order-tracking {
    margin-top: 0;
    align-self: baseline;
    margin-right: 0;
  }
  .quantity-field {
    margin-top: 0;
    align-self: center;
    font-size: 16px;
    font-weight: 400;
  }
  .prod-price {
    align-self: center;
  }
  .prod-price strong {
    text-align: right;
  }
  .order-status {
    margin-top: 0;
    align-self: center;
  }
  .order-time {
    font-size: 12px;
  }
  /* ================ Order Summary ================ */
  .order-summary {
    border-radius: 50px;
    padding: 32px 28px 28px;
    max-width: 450px;
    margin-left: auto;
  }
  .order-summary .subtotal,
  .order-summary .tax,
  .order-summary .shipping {
    font-size: 16px;
  }
  .order-summary hr {
    margin: 18px 0;
  }

  .pricing del {
    margin-right: 16px;
  }
  .order-tracking-btn {
    font-size: 16px;
    top: 22px;
    right: 22px;
  }
  .order-tracking-closebtn svg {
    width: 16px;
    height: auto;
  }
  .order-tracking-popup {
    right: 0;
    top: 0;
    left: unset;
    transform: none;
    padding: 34px;
    max-width: 496px;
    margin-top: 30px;
  }
  .cart-box {
    grid-template-columns: 106px 44px repeat(3, 1fr) 160px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .prod-thumb {
    grid-area: 1 / 1 / 3 / 2;
  }
  .prod-name {
    grid-area: 1 / 3 / 2 / 5;
  }
  .prod-price {
    grid-area: 2 / 6 / 3 / 7;
  }
  .quantity-field {
    grid-area: 2 / 3 / 3 / 4;
  }
  .order-tracking {
    grid-area: 1 / 6 / 2 / 7;
  }
  .order-status {
    grid-area: 2 / 5 / 3 / 6;
  }
}
@media (min-width: 1201px) {
  .cart-boxes-wrapper {
    margin-top: 0;
  }
  .cart-content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    margin-top: 32px;
  }
  .cart-content-wrapper > :first-child {
    flex: 2;
  }
  .cart-content-wrapper > :last-child {
    flex: 1;
  }
  .order-summary {
    max-width: unset;
  }
}
@media (min-width: 1600px) {
  .cart-box {
    grid-template-columns: 106px 44px repeat(4, 1fr);
  }
  .prod-name {
    grid-area: 1 / 3 / 2 / 7;
  }
  .order-status {
    grid-area: 2 / 4 / 3 / 5;
  }
  .order-tracking {
    grid-area: 2 / 5 / 3 / 6;
    align-self: center;
    margin-right: auto;
  }
}
@media (min-width: 1920px) {
  p {
    font-size: 22px;
  }
  .order-tracking-popup {
    padding: 40px;
    max-width: 600px;
  }
  .order-tracking-closebtn {
    top: 36px;
    right: 36px;
  }
  .order-tracking-closebtn svg {
    width: 20px;
  }
  .order-tracking-key {
    margin-bottom: 22px;
  }
}
