.lead-image-wrapper {
}

.lead-image {
  margin: 20px auto 0;
  background-color: #e7e7ed;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  height: 385px;
  display: flex;
  align-items: center;
}

.lead-image img {
  object-fit: contain;
  transition: opacity 0.5s ease;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.thumbs-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  gap: 7px;
  padding: 24px 0 40px;
}

.thumbs-container img {
  object-fit: cover;
  cursor: pointer;
  border-radius: 20px;
  height: 50px;
  flex: 0 1 auto;
  width: 100%;
  width: 0;
  height: 0;
  border: 6px solid #d9d9d9;
}

@media (min-width: 768px) {
  .thumbs-container img {
    height: 77px;
    width: 112px;
    border-radius: 16px;
    border: 0;
  }
  .lead-image {
    padding: 8px;
    padding: 8px 18px;
    height: 464px;
  }
  .thumbs-container {
    gap: 24px;
    justify-content: flex-start;
    padding-top: 34px;
  }
}
@media (min-width: 1201px) {
  .article.container {
    position: relative;
  }
  .lead-image-wrapper {
    gap: 40px;
  }
  .lead-image {
    border-radius: 40px;
    height: 510px;
    flex: 1;
    margin-top: 16px;
  }
  .thumbs-container {
    flex-direction: column;
    order: -1;
    flex: 0 1 auto;
    width: auto;
    gap: 16px;
  }
  .product-details-right .lead-image-wrapper {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
  }
  .product-details-right {
    width: 100% !important;
    margin-left: -60%;
    padding-left: 60%;
  }
  .thumbs-container {
    flex-direction: row;
  }
}
