.lead-image {
  margin: 20px auto 0;
  background-color: #e7e7ed;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  height: 385px;
  display: flex;
  align-items: center;
}

.lead-image img {
  object-fit: contain;
  transition: opacity 0.5s ease;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.lead-buttons-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  gap: 7px;
  padding: 24px 0 40px;
}
.lead-buttons-wrapper button {
  cursor: pointer;
  border-radius: 20px;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
}

.wrapper_thumbnails {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  gap: 7px;
  padding: 24px 0 42px;
}

.wrapper_thumbnails img {
  object-fit: cover;
  cursor: pointer;
  border-radius: 20px;
  flex: 0 1 auto;
  width: 0;
  height: 0;
  border: 6px solid #d9d9d9;
  background-color: #e7e7ed;
  object-fit: contain;
}
.wrapper_thumbnails img.active {
  border-color: #202020;
}

@media (min-width: 768px) {
  .wrapper_thumbnails img {
    height: 77px;
    width: 112px;
    border-radius: 16px;
    border: 0;
  }
  .lead-image {
    padding: 8px 18px;
    height: 464px;
  }
  .wrapper_thumbnails {
    gap: 24px;
    justify-content: flex-start;
    padding-top: 16px;
  }
}
@media (min-width: 1201px) {
  .lead-image-wrapper {
    gap: 40px;
  }
  .lead-image {
    border-radius: 40px;
    height: 510px;
    flex: 1;
    margin-top: 16px;
  }
  .wrapper_thumbnails {
    flex-direction: column;
    order: -1;
    flex: 0 1 auto;
    width: auto;
    gap: 16px;
  }
}
