/* ========================== Article ========================== */
html {
  scroll-behavior: smooth;
}
body {
  font-size: 14px;
}
/* general styles */
.product_article h1 {
  font-size: 34px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 14px 0 7px;
}
.product_article h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 20px 0 7px;
}
.product_article h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  padding: 7px 0;
}
.product_article p {
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 7px 0 20px;
}
.product_article p + p {
  margin-top: -13px;
}
.product_article ul,
.product_article ol {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 20px;
}
.product_article .product_lead_paragraph {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  padding: 7px 0 25px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .product_article h1 {
    font-size: 40px;
    line-height: 1.1;
    padding: 10px 0 10px;
  }
  .product_article h2 {
    font-size: 24px;
    padding: 25px 0 10px;
  }
  .product_article h3 {
    font-size: 16px;
    padding: 10px 0;
  }
  .product_article p {
    font-size: 16px;
    padding: 10px 0 25px;
  }
  .product_article p + p {
    margin-top: -15px;
  }
  .product_article ul,
  .product_article ol {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .product_article .product_lead_paragraph {
    font-size: 16px;
    padding: 10px 0 35px;
  }
}

@media (min-width: 1201px) {
  .product_article h1 {
    padding: 0 0 15px;
  }
  .product_article h2 {
    font-size: 24px;
    padding: 35px 0 15px;
  }
  .product_article h3 {
    font-size: 16px;
    padding: 15px 0;
  }
  .product_article .product_lead_paragraph {
    padding: 0 0 10px;
  }
  .product_article p {
    padding: 15px 0 35px;
  }
  .product_article p + p {
    margin-top: -20px;
  }
  .product_article ul,
  .product_article ol {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 35px;
  }
}

/* ========================== Offer widget ========================== */
.offer-widget,
.buy_buttons {
  max-width: 442px;
  margin-left: auto;
}
.offer-widget {
  background-color: #e7e7ed;
  border-radius: 40px;
  padding: 18px 26px 26px;
}
.offer-widget .price {
  text-align: right;
  padding: 0;
}
.offer-widget:has(.price[data-out-of-stock]) {
  margin-top: 30px;
  padding: 18px 26px;
}
/* Pricing */
.price_old {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: rgb(139, 145, 160, 0.5);
  position: relative;
  display: inline-block;
  margin-right: 16px;
}
.price_old .product_price_integer {
  font-size: 28px;
  font-weight: 400;
}
.price ins {
  text-decoration: none;
}
.price strong,
.price ins {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
}
.price strong .product_price_integer,
.price ins .product_price_integer {
  font-size: 48px;
  font-weight: 400;
}
.price_old::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 56%;
  transform: translateY(-50%) rotate(-15deg);
  width: 100%;
  height: 2px;
  background-color: #ffcc81;
}
/* Pricing, out-of-stock */
.price[data-out-of-stock] {
  position: relative;
}
[data-out-of-stock]::before {
  content: 'Not available';
  font-size: 20px;
  color: rgb(139, 145, 160, 0.5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

[data-out-of-stock] del {
  display: none;
}
[data-out-of-stock] strong,
[data-out-of-stock] ins {
  font-size: 20px;
  color: rgb(139, 145, 160, 0.5);
}
[data-out-of-stock] strong .product_price_integer,
[data-out-of-stock] ins .product_price_integer {
  font-size: 35px;
  font-weight: 400;
}
/* Fieldsets */
.wrapper_coupon_qty_fields {
  padding-top: 12px;
}
[data-out-of-stock] + .wrapper_coupon_qty_fields {
  display: none;
}
.wrapper_coupon_qty_fields fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}
.wrapper_coupon_qty_fields fieldset {
  padding-top: 16px;
}
.wrapper_coupon_qty_fields fieldset label {
  font-size: 10px;
  line-height: 1.1;
  padding-bottom: 10px;
  display: inline-block;
}
.wrapper_coupon_qty_fields fieldset input {
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  padding: 10px 26px;
  border: 0;
  border-radius: 100px;
  line-height: 1;
}
/* Coupon fieldset */
.coupon_input_wrapper {
  position: relative;
  display: block;
}
.coupon_add_button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.coupon_add_button svg {
  vertical-align: middle;
}
/* quantity fieldset */
.product_qty_wrapper {
  position: relative;
  display: block;
}
.product_qty_wrapper button {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 22px 30px;
  display: flex;
}
.wrapper_coupon_qty_fields .product_qty_increase {
  right: 0;
}
.wrapper_coupon_qty_fields .product_qty_decrease {
  left: 0;
}
.wrapper_coupon_qty_fields .product_qty_input {
  text-align: center;
  padding-left: 48px;
  padding-right: 48px;
}
.wrapper_coupon_qty_fields .product_qty_input::-webkit-outer-spin-button,
.wrapper_coupon_qty_fields .product_qty_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.wrapper_coupon_qty_fields .product_qty_input[type='number'] {
  -moz-appearance: textfield;
}
/* Offer buttons */
.buy_buttons {
  display: flex;
  gap: 15px;
  border: 0;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-top: 35px;
  padding-bottom: 26px;
}
.buy_buttons button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 20px;
  padding: 10px 22px;
  cursor: pointer;
}
.buy_now_paypal {
  background-color: #f6c305;
  font-size: 9px;
  vertical-align: middle;
  gap: 10px;
  flex: 2;
}
.buy_now_paypal svg {
  height: 21px;
  width: auto;
}
.buy_now_paypal span {
  padding-top: 3px;
}
.add_cart {
  background-color: #202020;
  margin: 0;
  min-width: 115px;
  flex: 1;
}
.add_cart svg {
  margin-top: -2px;
}
.offer-widget:has([data-out-of-stock]) + .buy_buttons {
  display: none;
}
@media (min-width: 768px) {
  /* ====== Offer widget ====== */
  .offer-widget {
    border-radius: 50px;
    padding: 12px 24px 24px;
    margin-top: 30px;
  }
  .offer-widget:has(.price[data-out-of-stock]) {
    padding-left: 32px;
    padding-right: 32px;
    padding: 26px 35px;
  }

  /* Pricing */
  .price_old {
    font-size: 18px;
  }
  .price_old .product_price_integer {
    font-size: 28px;
  }
  .price strong,
  .price ins {
    font-size: 28px;
  }
  .price strong .product_price_integer,
  .price ins .product_price_integer {
    font-size: 48px;
  }

  /* Pricing, out-of-stock */
  [data-out-of-stock]::before {
    font-size: 28px;
  }
  [data-out-of-stock] strong,
  [data-out-of-stock] ins {
    font-size: 18px;
  }
  [data-out-of-stock] strong .product_price_integer,
  [data-out-of-stock] ins .product_price_integer {
    font-size: 28px;
  }
  /* Fieldsets */
  .wrapper_coupon_qty_fields fieldset {
    display: inline-block;
    padding: 0;
  }
  .wrapper_coupon_qty_fields fieldset label {
    font-size: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
  }
  .wrapper_coupon_qty_fields fieldset input {
    font-size: 24px;
    padding: 14px 26px;
  }
  .product_qty_wrapper button {
    padding: 20px 24px;
  }
  /* Coupon fieldset */
  .wrapper_coupon_qty_fields .coupon_fieldset {
    width: 52%;
    margin-right: calc(14% - 8px) !important;
  }
  .coupon_add_button {
    right: 12px;
  }
  /* quantity fieldset */
  .wrapper_coupon_qty_fields .product_qty_fieldset {
    width: 35%;
  }
  /* Offer buttons */
  .buy_buttons {
    gap: 20px;
    margin-top: 22px;
    padding-bottom: 50px;
  }
  .buy_buttons button {
    height: 60px;
    border-radius: 30px;
  }
  .buy_now_paypal span {
    font-size: 12px;
  }
  .buy_now_paypal svg {
    height: 28px;
    width: auto;
  }
  .add_cart svg {
    height: 35px;
    width: auto;
  }
}
@media (min-width: 1201px) {
  /* ====== Offer widget ====== */
  .offer-widget {
    margin-left: 0;
  }
  .offer-widget:has([data-out-of-stock]) {
    padding: 23px 38px 23px;
    margin-top: 60px;
  }
  /* Pricing */
  .price strong {
    margin-left: auto;
  }
  .wrapper_coupon_qty_fields {
    padding-top: 16px;
  }
  /* Fieldsets */
  .wrapper_coupon_qty_fields fieldset input {
    font-size: 28px;
    padding: 10px 18px;
  }
  /* Coupon fieldset */
  .wrapper_coupon_qty_fields .coupon_fieldset {
    width: 54%;
    margin-right: calc(11% - 8px) !important;
  }
  /* quantity fieldset */
  .product_qty_wrapper button {
    padding: 14px 24px;
  }
  /* Offer buttons */
  .buy_buttons {
    margin-left: 0;
    padding-bottom: 0;
  }
}
/* ========================== Product details ========================== */
.product-details h2 {
  padding: 26px 0 18px;
}
.product-details .wrapper_product-details-nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  padding: 46px 0 30px;
  border-bottom: 1px solid #8b91a0;
  margin-top: 20px;
  margin-bottom: 30px;
}
.wrapper_product-details-nav ul li {
  font-size: 14px;
  font-weight: 600;
}
.wrapper_product-details-nav ul li:not(:first-child) {
  margin-top: 22px;
}
.product-details .lead-image-wrapper {
  display: none;
}
.product-details ul {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  padding-left: 26px;
}
.product-details ul strong {
  font-weight: 600;
}
.product-details ul li {
  margin-bottom: 8px;
}
.product-details table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 10px 0 20px;
  text-align: left;
}
.product-details table th,
.product-details table td {
  border-right: 2px solid white;
  margin: 0;
  padding: 16px 22px;
  vertical-align: top;
}
.product-details table th:last-child,
.product-details table td:last-child {
  border-right: 0;
}
.product-details table th {
  font-size: 10px;
  font-weight: 600;
}
.product-details table td {
  font-size: 10px;
}
.product-details table tr:first-child th:first-child {
  border-top-left-radius: 30px;
}
.product-details table tr:first-child td:last-child {
  border-top-right-radius: 30px;
}
.product-details table tr:last-child th:first-child {
  border-bottom-left-radius: 30px;
}
.product-details table tr:last-child td:last-child {
  border-bottom-right-radius: 30px;
}
.product-details table tr:nth-child(odd) th {
  background-color: rgb(255, 204, 129, 0.5);
}
.product-details table tr:nth-child(even) th {
  background-color: #ffcc81;
}
.product-details table tr:nth-child(odd) td {
  background-color: rgb(231, 231, 237, 0.5);
}
.product-details table tr:nth-child(even) td {
  background-color: #e7e7ed;
}
ul.product_benefits_list {
  list-style: none;
  padding-left: 0;
}
ul.product_benefits_list .product_benefits_list_element {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  font-weight: 300;
}
ul.product_benefits_list .product_benefits_list_element:last-child {
  margin-bottom: 0;
}
.product_benefits_list_element svg {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .product-details ul {
    font-size: 16px;
  }
  .product-details ul li {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .product-details .wrapper_product-details-nav {
    margin-top: 54px;
  }
  .wrapper_product-details-nav ul li {
    margin-bottom: 0;
    flex: 1 1 auto;
    text-align: left;
  }
  .product-details .wrapper_product-details-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0 12px;
    margin-bottom: 50px;
  }
  .wrapper_product-details-nav ul li:not(:first-child) {
    margin-top: 0;
  }
  .product-details table {
    margin: 20px 0 40px;
  }
  .product-details table tr:first-child th:first-child {
    border-top-left-radius: 40px;
  }
  .product-details table tr:first-child td:last-child {
    border-top-right-radius: 40px;
  }
  .product-details table tr:last-child th:first-child {
    border-bottom-left-radius: 40px;
  }
  .product-details table tr:last-child td:last-child {
    border-bottom-right-radius: 40px;
  }
  .product-details table th,
  .product-details table td {
    font-size: 12px;
  }
  .product-details table th {
    width: 33%;
    padding: 24px;
    padding-left: 60px;
  }
  .product-details table td {
    padding: 24px;
  }
  ul.product_benefits_list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 46px;
    padding-bottom: 0;
  }
  ul.product_benefits_list li {
    flex-basis: calc(50% - 23px);
  }
}

@media (min-width: 1201px) {
  .product_article.container {
    padding: 0;
    margin: 0 133px;
  }
  .product_article {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .product-details-right {
    width: 40%;
    position: sticky;
    bottom: 10px;
    height: max-content;
    transition: top 0.5s, bottom 0.5s;
  }
  .product-details-right.scrolling-down {
    top: -210px;
  }
  .product-details-right.scrolling-up {
    top: 10px;
  }

  .product-details .lead-image-wrapper {
    display: flex;
  }
  .product-details-right .lead-image-wrapper {
    display: none;
  }
  .product-details {
    width: 54%;
    order: -1;
  }
  .product-details .wrapper_product-details-nav {
    margin-top: 40px;
  }
  .product-details .wrapper_product-details-nav ul {
    padding-bottom: 10px;
  }
  .product-details table th,
  .product-details table td {
    padding: 24px;
  }
  .product-details table th {
    padding-left: 60px;
  }
}
@media (min-width: 1600px) {
  .offer-widget {
    margin-top: 30px;
  }
}
@media (min-width: 1920px) {
  ul.product_benefits_list {
    gap: 0 calc(46px + 1%);
  }
  ul.product_benefits_list li {
    flex-basis: calc(33% - 34px);
  }
  .product_article.container {
    margin: 0 auto;
    padding: 0 133px;
  }
}
/* ========================== Reviews ========================== */
.reviews_section {
  margin-top: 50px;
}
.wrapper_reviews_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0 6px;
}
.reviews_h2 {
  padding: 0;
}
.create_review_button {
  background-color: #ffcc81;
  border: 0;
  font-size: 14px;
  padding: 11px 45px;
  border-radius: 40px;
  cursor: pointer;
}
.wrapper_reviews_info {
  flex-wrap: wrap;
  font-size: 14px;
}
.reviews_txt_bold {
  font-weight: 600;
}
.wrapper_reviews_info .rating_summary {
  font-size: 20px;
  font-weight: 600;
  margin-right: 6px;
}
.wr_reviews_data {
  white-space: nowrap;
}
/* ========================== Write Review Mobile ========================== */

.write_review_form {
  position: relative;
}
.reviews_form_initial_state {
  background-color: #e7e7ed;
  border-radius: 30px;
  padding: 0 12px 32px;
  margin-bottom: 52px;
}
.write_review_product_name {
  max-width: 85%;
  padding-left: 8px;
  padding-top: 26px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  display: block;
  margin-bottom: 16px;
  margin-top: 16px;
}
.close_review_form,
.close_review_form {
  position: absolute;
  top: 18px;
  right: 18px;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}
.rating-title {
  font-size: 14px;
  font-weight: 600;
}
.rating-number {
  font-size: 20px;
  font-weight: 600;
}
.review_stars_input_fieldset {
  border: none;
  margin: 0;
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 10px;
}
.wrapper_review_form_stars {
  width: 100%;
  text-align: center;
  order: 3;
}
.wrapper_review_form_stars input[type='radio'] {
  position: absolute;
  opacity: 0;
}
.wrapper_review_form_stars label {
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 46px;
  color: #ccc;
  line-height: 1;
}
.wrapper_review_form_stars > label:before {
  content: '★';
}
.wrapper_review_form_stars > label:has(input[type='radio']:checked):before {
  color: #ffcc81;
}
.review_form_subject_input,
.write_review_author_input,
.review_form_textarea {
  border-radius: 20px;
  border: 0;
  font-size: 14px;
  padding: 12px 20px;
  width: 100%;
  margin: 18px 0 0;
}
.review_form_subject_input {
  font-weight: 600;
}
.review_form_textarea:focus-visible {
  outline-color: #ffcc81;
}
.review_form_submit {
  background-color: #ffcc81;
  border: 0;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
}
.wrapper_review_form_checkbox {
  font-size: 10px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.review_form_checkbox {
  accent-color: #ffb64c;
  margin: 0 8px 0 0;
  user-select: none;
}
.review_form_terms_txt {
  font-size: 10px;
  cursor: pointer;
  user-select: none;
}
.review_form_checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  position: relative;
}
.review_form_checkbox:checked {
  background-color: #ffcc81;
}
.review_form_checkbox:checked::before {
  content: '';
  position: absolute;
  top: 2.5px;
  left: 7.5px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.review_form_sent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cae0e2;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 10px solid #e7e7ed;
}
.review_form_sent::before {
  content: '';
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;
  top: -2px;
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='22' viewBox='0 0 19 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2362 0.109375C14.398 1.57969 12.2995 3.60743 10.3588 6.86028C8.77632 9.51198 7.18642 13.0547 5.16426 17.7453C4.61429 16.3369 4.13364 14.967 3.69906 13.5754L3.64276 13.3958H0.503906L3.73349 21.5672H6.50337L6.56805 21.4067C11.1409 10.3923 13.4767 5.36716 18.2227 2.75223L17.2362 0.109375Z' fill='black'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
}
/* ========================== Write Review Tablet ========================== */

@media (min-width: 768px) {
  .create_review_button {
    font-size: 16px;
    padding: 12px 50px;
  }
  .wrapper_reviews_info {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  .reviews_txt_bold {
    margin-right: 22px;
  }
  .wrapper_reviews_info [data-star]::before,
  .wrapper_reviews_info [data-star]::after {
    padding: 0;
  }
  .wrapper_reviews_info .rating_summary {
    padding: 0;
  }
  .wrapper_reviews_info .rating_summary {
    font-size: 24px;
  }
  .reviews_form_initial_state {
    border-radius: 40px;
    padding: 14px 26px 52px;
    margin-bottom: 70px;
  }
  .close_review_form,
  .close_review_form {
    top: 28px;
    right: 21px;
  }
  .write_review_product_name {
    font-size: 24px;
    padding-right: 100px;
    margin-top: 0;
    max-width: 90%;
    margin-bottom: 20px;
  }
  .close_review_form svg,
  .close_review_form svg {
    width: 22px;
    height: auto;
  }
  .rating-title {
    font-size: 16px;
    flex: 1;
  }
  .rating-number {
    font-size: 24px;
    order: 3;
    flex: 1;
    text-align: right;
  }
  .review_stars_input_fieldset {
    padding: 22px 10px;
  }
  .wrapper_review_form_stars {
    order: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: auto;
  }
  .review_form_subject_input,
  .write_review_author_input,
  .review_form_textarea {
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 30px;
  }
  .review_form_submit {
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 16px;
  }

  .write_review_author_input,
  .review_form_submit {
    width: 48%;
  }
  .write_review_author_input {
    margin-right: calc(4% - 10px);
  }
  .review-checkbox {
    margin-top: 26px;
    max-width: 46%;
    font-size: 12px;
  }
  .wrapper_review_form_checkbox {
    font-size: 12px;
    max-width: 50%;
  }
  .review_form_terms_txt {
    font-size: 12px;
  }
  .review_form_sent {
    font-size: 24px;
    border-width: 16px;
  }
  .review_form_sent::before {
    width: 24px;
    height: 24px;
  }
}
/* ========================== Write Review Desktop ========================== */

@media (min-width: 1201px) {
  .reviews_section {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 64px;
  }
  .create_review_button {
    padding: 16px 70px;
  }
  .wrapper_reviews_info .rating_summary {
    font-size: 24px;
  }
  .reviews_form_initial_state {
    padding: 28px 22px 26px;
    margin-bottom: 58px;
  }
  .write_review_product_name {
    padding-left: 20px;
  }
  .close_review_form,
  .close_review_form {
    top: 40px;
    right: 36px;
  }
  .review_stars_input_fieldset {
    gap: 24px;
    padding-top: 32px;
    padding-left: 20px;
  }
  .rating-title,
  .rating-number {
    flex: unset;
  }
  .rating-title {
    font-size: 22px;
  }
  .rating-number {
    font-size: 32px;
  }
  .write_review_author_input {
    margin-top: 0;
    margin-right: 0;
    flex: 2;
  }
  .wrapper_submit_checkbox_author {
    display: flex;
    margin-top: 20px;
    gap: 20px;
  }
  .wrapper_review_form_checkbox {
    margin-top: 0;
    flex: 1.5;
  }
  .review_form_checkbox {
    flex-shrink: 0;
  }
  .review_form_submit {
    margin-top: 0;
    order: 3;
    flex: 1;
  }
}

/* ========================== Review Card Mobile ========================== */
.product_reviews_list {
  padding-left: 0;
  list-style: none;
}
.review_card {
  background-color: #e7e7ed;
  border-radius: 30px;
  margin: 26px 0;
  padding: 32px 16px;
}
.reviewer_avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #d9d9d9;
  object-fit: cover;
  margin-right: 8px;
}
.review_author_name {
  font-size: 10px;
  font-weight: 600;
  margin-right: 12px;
}
.product_review_time {
  font-size: 10px;
}
.review_card [data-star]::before,
.review_card [data-star]::after {
  font-size: 14px;
}
.review_card [data-star]::before,
.review_card [data-star]::after,
.review_card .rating_summary {
  padding: 12px 0;
}
.review_card [data-star] {
  margin-right: 10px;
}
.product_review_heading {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 0;
  padding-bottom: 6px;
}
.review_card p {
  padding-top: 0;
  margin: 0;
}
.review_card p:last-child {
  padding-bottom: 0;
}
.load_more_reviews {
  font-size: 14px;
  font-weight: 600;
  background-color: #ffcc81;
  border-radius: 1em;
  padding: 0 0.4em;
  border: 0;
  margin-top: 56px;
}

/* ========================== Review Card Tablet ========================== */
@media (min-width: 768px) {
  .review_card {
    border-radius: 40px;
    margin: 35px 0;
    padding: 40px;
  }
  .reviewer_avatar {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .review_author_name {
    font-size: 12px;
  }
  .product_review_time {
    font-size: 12px;
  }
  .review_card [data-star]::before,
  .review_card [data-star]::after {
    font-size: 16px;
  }
  .review_card [data-star]::before,
  .review_card [data-star]::after,
  .review_card .rating_summary {
    padding: 14px 0 0;
  }
  .review_card [data-star] {
    margin-right: 10px;
  }
  .review_card .rating_summary {
    font-size: 14px;
  }
  .product_review_heading {
    padding-top: 12px;
    padding-bottom: 6px;
    font-size: 16px;
    line-height: 1.5;
  }
  .review_card p {
    padding-top: 0;
  }
  .review_card p:last-child {
    padding-bottom: 0;
  }
  .load_more_reviews {
    font-size: 16px;
    margin-top: 42px;
  }
}

/* ========================== Review Card Desktop ========================== */
@media (min-width: 1201px) {
  .review_card {
    border-radius: 50px;
    margin: 30px 0;
    padding: 52px;
    padding: 30px 48px 36px 24px;
  }
  .review_author_name {
    margin-right: 18px;
  }
  .review_card [data-star]::before,
  .review_card [data-star]::after {
    font-size: 22px;
  }
  .review_card [data-star]::before,
  .review_card [data-star]::after,
  .review_card .rating_summary {
    padding: 18px 0;
  }
  .review_card .rating_summary {
    font-size: 22px;
  }
  .product_review_heading {
    padding-top: 0;
    padding-bottom: 6px;
  }
  .load_more_reviews {
    margin-top: 58px;
  }
}

/* =============================== price compare section */
.price_compare_section {
  margin-top: 40px;
  margin-bottom: 50px;
}
.price_compare_section .price_compare_heading {
  padding: 0;
}
.price_compare_section .price_compare_site_list {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 28px;
  padding: 20px;
  background-color: #202020;
  border-radius: 50px;
}
.price_compare_site_list .price_compare_site {
  background-color: white;
  border-radius: 30px;
  margin-bottom: 16px;
  padding: 7px 10px;
  padding-right: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price_compare_site_list .price_compare_site:last-child {
  margin-bottom: 0;
}
.price_compare_site .price_compare_site_name {
  padding: 0;
}
.price_compare_site_anchor {
  display: flex;
  align-items: center;
}
.price_compare_site_logo {
  width: 45px;
  height: auto;
  border-radius: 50%;
  margin-right: 22px;
}
.compare_price_site_name_value {
  font-size: 12px;
  font-weight: 400;
  max-width: 10ch;
}
.price_compare_site .price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0;
}
.price_compare_site .price ins,
.price_compare_site .price strong,
.price_compare_site .price del {
  font-size: 20px;
}
.price_compare_site .price ins,
.price_compare_site .price strong {
  font-weight: 500;
}

@media (min-width: 768px) {
  .price_compare_section {
    margin-top: 85px;
  }
  .price_compare_site_list {
    display: flex;
    gap: 14px;
    flex-wrap: nowrap;
  }
  .price_compare_section .price_compare_site_list {
    padding: 13px 15px;
    margin-top: 40px;
    border-radius: 40px;
    max-width: fit-content;
  }
  .price_compare_site_list .price_compare_site {
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 12px;
    padding-right: 18px;
    flex: 1;
    max-width: 205px;
  }
  .price_compare_site_logo {
    width: 56px;
    margin-right: 10px;
  }
  .compare_price_site_name_value {
    font-size: 14px;
  }
  .price_compare_site .price {
    margin-left: auto;
  }
  .price_compare_site .price strong,
  .price_compare_site .price ins,
  .price_compare_site .price del {
    font-size: 20px;
  }
}
@media (min-width: 1201px) {
  .price_compare_site_list {
    flex-wrap: wrap;
  }
  .price_compare_site_list .price_compare_site {
    width: 200px;
  }
}
/* ================================= Product Attributes Fieldset */
.product_attributes_fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin: 40px 0;
}
.product_attributes_legend {
  font-size: 14px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 20px;
  width: 100%;
}
.product_attribute_radio {
  display: none;
}
.product_attribute_value {
  font-size: 12px;
  font-weight: 600;
}
.product_attribute_label {
  padding: 8px 22px;
  border-radius: 15px;
  border: 2px solid #e7e7ed;
  line-height: 1;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}
.product_attribute_label:has(.product_attribute_value_image) {
  padding: 4px;
  padding-right: 30px;
}
.product_attribute_value_image {
  width: 42px;
  height: 42px;
}
.product_attribute_label:has(.product_attribute_value_image:last-child) {
  padding: 4px;
}
.product_attribute_radio:disabled + .product_attribute_label .product_attribute_value_image {
  opacity: 0.35;
}
.product_attribute_radio:disabled + .product_attribute_label {
  cursor: not-allowed;
}
.product_attribute_radio:checked + label {
  outline: 4px solid #72ccbf;
  border-color: transparent;
}
.product_attribute_radio:not(:checked) + label {
  outline: 2px solid transparent;
}
.product_attribute_radio:disabled + label {
  color: #8b91a0;
  background-color: #efeff3;
}
@media (min-width: 768px) {
  .product_attributes_fieldset {
    margin: 40px 0;
  }
  .product_attributes_legend {
    font-size: 16px;
  }
  .product_attribute_value {
    font-size: 14px;
  }
  .product_attribute_label {
    padding: 12px 40px;
    border-radius: 20px;
    gap: 10px;
  }
  .product_attribute_label:has(.product_attribute_value_image) {
    padding: 5px;
    padding-right: 38px;
  }
  .product_attribute_value_image {
    width: 50px;
    height: 50px;
  }
  .product_attribute_label:has(.product_attribute_value_image:last-child) {
    padding: 5px;
  }
}
/* Footer */
.page_footer {
  margin-top: 150px;
}
@media (min-width: 768px) {
  .page_footer {
    margin-top: 225px;
  }
}
@media (min-width: 1201px) {
  .page_footer {
    margin-top: 245px;
  }
}
