.pag_list {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 7px;
  margin: 40px 0;
}
.pag_list li a,
.pag_list li span,
.pag_list_element_number_current {
  background-color: rgb(255, 204, 129, 0.4);
  border-radius: 10px;
  padding: 5px 8px;
  min-width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.pag_list li a {
  cursor: pointer;
}
.pag_list .pag_list_element_number_current,
.pag_list .pag_list_element_arrow_left a,
.pag_list .pag_list_element_arrow_right a {
  background-color: #ffcc81;
}
.pag_list li a span {
  display: flex;
  align-items: center;
}
.pag_list li.pag_list_element_dots span {
  background-color: transparent;
}
.pag_list .pag_list_element_number_current,
.pag_list li.pag_list_element_dots {
  cursor: default;
}
@media (min-width: 768px) {
  .pag_list {
    font-size: 16px;
  }
  .pag_list li a,
  .pag_list li span,
  .pag_list_element_number_current {
    min-width: 38px;
  }
}
